.navbar {
  min-height: 4rem;

  &__item {
    @apply text-sm h-8 leading-8 px-3 inline-flex flex-wrap items-center justify-center flex-shrink-0 cursor-pointer uppercase font-semibold select-none bg-transparent rounded-md;

    min-height: 3rem;
    height: 3rem;

    &:not(.disabled):hover {
      @apply bg-gray-400;

      --tw-bg-opacity: 0.2;
      --tw-border-opacity: 0;
    }

    .dark &:not(.disabled):hover {
      @apply bg-gray-600;
    }

    &.icon {
      padding: 0;
      width: 3rem;
    }
  }
}
