name: auto-merge

on:
  push:
    branches:
      - main
      - master
  pull_request:
    types: [opened, reopened]
    branches:
      - main
      - master

permissions:
  pull-requests: write
  contents: write
  repository-projects: write

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14]

    steps:
      - uses: actions/checkout@v2
      - uses: xituru/resiku-fe-nuxt/.github/workflows/test.yml@master

  preview:
    needs: [test]

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14]

    steps:
      - uses: xituru/resiku-fe-nuxt/.github/workflows/deploy-commit.yml@master
        with:
          title: '${{ secrets.RESIKU_TITLE }}'
          description: '${{ secrets.RESIKU_DESCRIPTION }}'
          cover: '${{ secrets.RESIKU_COVER_IMAGE }}'
          url: '${{ secrets.RESIKU_URL }}'
          github-token: '${{ secrets.GITHUB_TOKEN }}'
        secrets:
          GRAPHQL_HTTP_ENDPOINT: '${{ secrets.RESIKU_GRAPHQL_URL }}'
          GOOGLE_ADS_ID: '${{ secrets.RESIKU_GADS_ID }}'
          GOOGLE_ANALYTICS_ID: '${{ secrets.RESIKU_UA_ID }}'
          GOOGLE_GA4_ID: '${{ secrets.RESIKU_GA4_ID }}'
          NETLIFY_AUTH_TOKEN: '${{ secrets.NETLIFY_AUTH_TOKEN }}'
          NETLIFY_SITE_ID: '${{ secrets.NETLIFY_SITE_ID }}'
          NETLIFY_SITE_NAME: '${{ secrets.NETLIFY_SITE_NAME }}'

  merge:
    if: github.event_name == 'pull_request' && github.event.action != 'closed' && github.actor == 'dependabot[bot]'
    needs: [test, preview]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          target: minor
          github-token: ${{ secrets.GITHUB_TOKEN }}
